<head>    
    <meta charset="utf-8">
    <title>{% block page_title %}Athletic Mindset{% endblock page_title %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<div id="navbar">
    {% block navbar %}
        {% if user.is_authenticated %}
            {% if request.path == '/profile/' %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>           
            </form>
            <a class="button" style="float: left;" href="{% url 'journals' %}">Journals</a>
            <a class="button" style="float: left;" href="{% url 'write_journal' %}">Write a Journal entry</a>
            {% endif %}
            <a class="button" style="float: left;" href="{% url 'create_post' %}">Create Post</a>

            {% if user.is_staff %}
            <a class="button" href="/admin">Admin Site</a>

            {% endif %}
            <a class="button" href="{% url 'profile' %}">Profile</a>

        {% else %}
            <form action="{% url 'login' %}">
                <button href="{% url "login" %}" type="submit">login</button>
            </form>

            <a class="button" href="{% url 'register' %}">Register</a>

        {% endif %}

        <a class="button" href="{% url 'index' %}">Home</a> 
    </div>
    <br><br>
    {% endblock navbar %}
</head>

{% block page_content %}
{% endblock page_content %}
{% block footer %}{% endblock footer %}
