<head>    
    <meta charset="utf-8">
    <title>{% block page_title %}Athletic Mindset{% endblock page_title %}</title>
    {% load static %}
    {% block title%}Create Post{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


{% block page_content %}
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{ form.title }}
            {{ form.as_media }}
        </div>
        <div>
            {{ form.body }}
        </div>
        <nav>
        <div>
            <ul class="dropdown-menu", style="height:30%; overflow:hidden; overflow-y:scroll;">
                {{ form.categories }}
              </ul>
        </div>
        </nav>
        <div>
            <div class="container" style="align-items: center;">
                <div class="row">
                    <div class="col-md-6">
                        Make this post a Journal entry: {{ form.is_private }} (Journal entries are private and only visible to you)
                    </div>
                </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'index' %}">Cancel</a>
    </form>
</body>
{% endblock page_content %}
