{% extends "base.html" %}

{% block page_title %}
AI Journal
{% endblock page_title %}

<div id="loader-overlay" class="loader-hidden">
    <div class="spinner"></div>
    <p>Loading...</p>
</div>

<div id="content">

{% block page_content %}
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{ form.entry }}
        </div>
        <button type="submit" class="btn btn-primary" onclick="showLoader()">Submit</button>
        <a href="{% url 'index' %}">Cancel</a>
    </form>
</div>
{% endblock page_content %}